<form>
    <select name="category">
        <option value="actor_1">Actor 1</option>
        <option value="actor_2">Actor 2</option>
        <option value="actor_3">Actor 3</option>
        <option value="director">Director</option>
        <option value="locations">Locations</option>
        <option value="production_company">Production Company</option>
        <option value="title">Title</option>
        <option value="writer">Writer</option>
    </select>
    <input type="text" name='search_box' />
    <input type="submit" value="Search" />
</form>